In [1]:
max_length= 256

## 1. 데이터 불러오기

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('data/sms.tsv', sep='\t')
print(df.columns)
print(df.shape)

Index(['label', 'sms'], dtype='object')
(5575, 2)

In [4]:
df.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3  spam          %^^×？×^×&#****,>,;//×&>>*(*^%=÷#~^&,****)
4   ham  U dun say so early hor... U c already then say...

In [5]:
classes= sorted(set(df['label']))
class_to_idx={}

for i,c in enumerate(classes):
    class_to_idx.update({c: i})

n_class= len(classes)

print('# of classes: %d' %n_class)
print(classes)
print(class_to_idx)

# of classes: 2
['ham', 'spam']
{'ham': 0, 'spam': 1}

## 2. 최대 텍스트 길이만큼 자르기

In [6]:
new_df= pd.DataFrame({'label':df['label'],
                     'sms':df['sms'].str.slice(
                         start=0, stop=max_length)
                     })

## 3. 중복 제거

In [7]:
len(new_df)

5575

In [8]:
new_df= pd.DataFrame(new_df.drop_duplicates())

In [9]:
len(new_df)

5172

## 4. 셔플

In [11]:
df_shuffled= new_df.sample(frac=1).reset_index(drop=True)
df_shuffled.head()

  label                                                sms
0  spam  PRIVATE! Your 2003 Account Statement for shows...
1   ham  Yeh. Indians was nice. Tho it did kane me off ...
2  spam  GENT! We are trying to contact you. Last weeke...
3   ham                         K still are you loving me.
4  spam  Not heard from U4 a while. Call 4 rude chat pr...

## 5. train, test 나누기

In [12]:
# train:test= 9:1
train_ratio= 0.9

#train dataset
s, e= 0, int(df_shuffled.shape[0] * train_ratio) # #rows
df_train= pd.DataFrame({'label':df_shuffled['label'][s:e],
                       'sms':df_shuffled['sms'][s:e]})
print('index for train: %d ~ %d'%(s, e))

#test dataset
s, e= e, e+int(df_shuffled.shape[0] * (1.0- train_ratio)) # #rows
print('index for test: %d ~ %d'%(s, e))
df_test= pd.DataFrame({'label':df_shuffled['label'][s:e],
                       'sms':df_shuffled['sms'][s:e]})

index for train: 0 ~ 4654
index for test: 4654 ~ 5171

In [13]:
print(df_train.shape)
print(df_test.shape)

(4654, 2)
(517, 2)

In [14]:
df_train.to_csv('./data/sms.maxlen.uniq.shuf.train.tsv',
               header=False, index=False, sep='\t')
df_test.to_csv('./data/sms.maxlen.uniq.shuf.test.tsv',
               header=False, index=False, sep='\t')